# Supabase Configuration
VITE_SUPABASE_URL=https://qlloqrrprwtjgeoqtlnv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsbG9xcnJwcnd0amdlb3F0bG52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MDM4MzIsImV4cCI6MjA4ODQ3OTgzMn0.YN33j3ILRQNYyp-S3P0WLos6nfMWTzyYT0FMRdxJEdA
